html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body{
    display:flex;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/*--------------------------- HEADER ------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensure items are centered vertically */
    background-color: grey;
    padding: 10px; /* Add some padding for better spacing */
}

.nav-links {
    display: flex;
    gap: 20px; /* Add space between the links */
    align-items: center; /* Center the links vertically */
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: white;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white; /* Adjust the color as needed */
    transition: width 0.3s ease; /* Smooth transition for the underline */
    position: absolute;
    bottom: -5px; /* Position the underline just below the text */
    left: 50%;
    transform: translateX(-50%); /* Center the underline */
}

.nav-links a:hover::after {
    width: 100%; /* Expand the underline to full width on hover */
}


/* --------------------------------------------------------------------------- */





/*--------------------------- BODY-HOME ------------------------------------------*/

.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    /* Debugging Border */
    border-color:black;
    border-width: 1px;
    border-style: solid;



    height: 100%;
}


#main-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15vw;
}












/* -------------------------------------------------------------------------- */


/* -----------------------------------BODY-CONTACT ----------------------------*/

#main-content-contact
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5vh;
}

#contact-container
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:10vw;
}

#contact-form
{
    display:flex;

    flex-direction: column;

    gap: 2vh;
}

#contact-info
{
    gap: 2vh;
}


/* ----------------------------------------------------------------------------- */





/* ---------------------------------FOOTER-------------------------------------- */

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    padding: 10px;
    margin-top:auto;
}

/* ------------------------------------------------------------------------------ */
